<code>
    {<br/>
    &nbsp;&nbsp;"Version": "2012-10-17",<br/>
    &nbsp;&nbsp;"Statement": [<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;{<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Effect": "Allow",<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Principal": {<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"AWS": "arn:aws:iam::{{ account_id }}:root"<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;},<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Action": "sts:AssumeRole"<br/>
    &nbsp;&nbsp;&nbsp;&nbsp;}<br/>
    &nbsp;&nbsp;]<br/>
    }
</code>
